<%
    Set fs = Server.CreateObject("Scripting.FileSystemObject")
    Set folderObj = fs.GetFolder(Server.MapPath("/home/ubuntu/ttests/gitwatcher/templates/gitwatcher"))
    Set files = folderObj.Files
%>
<!DOCTYPE html>
<html>
<head>
    <title>GitWathcer</title>
</head>
<body>
    
    <label>git repository url       : https://github.com/       <input type="text" id="input"></label><br>
    <label>branch(s3 option only)   :         <input type="text" id="branch" value="master"></label><br>
    <input type="radio" name="option" value="git" checked="checked"/>git
    <input type="radio" name="option" value="s3" />s3
    <button onclick="input()">submit</button>

    <script type="text/javascript">
        function input(){
            var obj = document.getElementsByName('option');
            var url = document.getElementById("input").value;
            var branch = document.getElementById("branch").value;

            if(obj[0].checked)
            {
                url += '/option1/submit';
                location.href = url;
            }
            else
            {
                url += '/option2/submit/' + branch ;
                location.href = url;
            }
        }
    </script>

    <h2><%=Server.MapPath(".")%>디렉토리 목록</h2>
    <table border="1" width="900" style="font-size:9pt;" cellpadding="2">
        <tr>
            <th>이름</th>
            <th>크기</th>
            <th>형식</th>
            <th>생성 시각</th>
            <th>마지막 엑세스 시간</th>
            <th>마지막 수정 시간</th>
        </tr>
  <%
    For Each file in files
  %>
      <tr>
            <td><a href="<%=file.name%>"><%=file.name%></a></td>
            <td><%=file.size%> byte</td>
            <td><%=file.type%></td>
            <td><%=file.DateCreated%></td>
            <td><%=file.DateLastAccessed%></td>
            <td><%=file.DateLastModified%></td>
      </tr>
  <%
   Next
  %>
  </table>

</body>
</html>