<!DOCTYPE html>
<html>
<head>
    <title>GitWathcer</title>
</head>
<body>
    
    <label>git repository url       : https://github.com/       <input type="text" id="input"></label><br>
    <label>branch(s3 option only)   :         <input type="text" id="branch" value="master"></label><br>
    <input type="radio" name="option" value="git" checked="checked"/>git
    <input type="radio" name="option" value="s3" />s3
    <button onclick="input()">submit</button>

    <script type="text/javascript">
        function input(){
            var obj = document.getElementsByName('option');
            var url = document.getElementById("input").value;
            var branch = document.getElementById("branch").value;

            if(obj[0].checked)
            {
                url += '/option1/submit';
                location.href = url;
            }
            else
            {
                url += '/option2/submit/' + branch ;
                location.href = url;
            }
        }
    </script>
</body>
</html>