<!DOCTYPE html>
<html>
<head>
	<title>GitWatcher</title>
</head>
<body>

	{{mydict.2018_cap1_6.0}}

	{% if mydict %}

		{% for key,value in mydict.items %}
			<p id="{{key}}"><h1>{{key}}</h1></p>
			<table border="1">
				<tr>
					<th>branch</th>
					<th>실행</th>
				</tr>
			{% for i in value %}
				<tr>
					<p id="{{i}}"><td>{{i}}</td></p>
					<td><button onclick="click('{{key}}' , '{{i}}')">실행</button></td>
				</tr>
			{% endfor %}
			</table>
		{% endfor %}
	{% endif %}
	<!--
	<h1> 6조 </h1>
	<table border="1">
		<tr>
			<th>branch</th>
			<th>실행</th>
		</tr>
	{% for key in 2018_cap1_6 %}
		<tr>
			<td>{{key}}</td>
			<td><button>실행</button></td> 
		</tr>
	{% endfor %}
	</table>
	-->
	<script type="text/javascript">
		function click(repo, branch){
			var url = '/kookmin-sw_';
			url += repo + '_branch_';
			url += branch;
			location.href = url;
		}
	</script>
</body>
</html>