<!DOCTYPE html>
<html>
<head>
	<title>GitWatcher</title>
</head>
<body>

	{% if mydict %}

		{% for key in mydict %}
			<h1>{{key}}</h1>
			<table>
				<tr>
					<th>branch</th>
					<th>실행</th>
				</tr>
			{% for value in key%}
				<tr>
					<td>value</td>
					<td><button>실행</button></td>
				</tr>
			{% endfor %}
			</table>
		{% endfor %}
	{% endif %}
	<!--
	<h1> 6조 </h1>
	<table border="1">
		<tr>
			<th>branch</th>
			<th>실행</th>
		</tr>
	{% for key in 2018_cap1_6 %}
		<tr>
			<td>{{key}}</td>
			<td><button>실행</button></td> 
		</tr>
	{% endfor %}
	</table>
	-->
</body>
</html>